@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-primary: "Robot", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;
  --white: rgb(230, 230, 230);
  --black: rgb(0, 0, 0);
  --blue: rgb(26, 26, 45);
  --light-blue: rgb(27, 27, 71);
  --red: rgb(210, 65, 65);
  --gray: rgb(41, 44, 53);
}
